mixin contact
    .contact#contact
        .container
            .row
                 .col-xl-4.offset-xl-4.col-12
                    .contact__header
                        h2.contact__header__title Contact
                        p.contact__header__subtitle For new projects, ideas, business or anything you'd like to discuss, contact with me!
            .row
                .col-xl-6.col-lg-7.order-lg-1.order-2
                    form.form__items.d-flex.flex-column(action='' method='GET')
                        input#address.form__items--input(type="text", name="address", placeholder="Auskteez Tran", required)
                        input#contactEmail.form__items--input(type="email", name="email",placeholder='Your email...', required)
                        input#tel.form__items--input(type="tel", name="tel",placeholder='Your phone number...', data-mask="+0(000)00-00-000", required)
                        textarea#message.form__items--input(name="message", cols="30", rows="13", placeholder="Your message...", required)
                        button.form__items__btn(type="submit") view more
                        
                .col-xl-6.col-lg-5.order-lg-2.order-1
                    .contact__info
                        .info__section
                            h3.info__section--title address
                            a.info__section--link(href="https://www.google.com.ua/maps/@46.954096,31.9946698,18.22z?hl=ru" target="_blank") 123 City name, Street, City, Country
                        .info__section
                            h3.info__section--title email
                            a.info__section--link(href="mailto:cahee@domain.com" target="_blank") cahee@domain.com
                        .info__section
                            h3.info__section--title phone
                            a.info__section--link(href="tel:+012 345 6789" target="_blank") +012 345 6789