.contact{
    background-image: url(../../../dist/img/contact@x1.jpg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 90px 0px 90px;
    background-size: cover;

    @media screen and (max-width:1023px){
        padding: 60px 0px; 
    }

    &__info{
        padding-left: 71px;

        @media screen and (max-width:1199px){
            padding-left: 30px; 
        }

        @media screen and (max-width:1023px){
            padding-left: 0px; 
        }
        .info__section{
            margin-bottom: 16px;
            line-height: 22px;

            &--title{
                color: #262626;
                font-size: 17px;
                font-weight: 700;
                text-transform: uppercase;
                padding-bottom: 1px;
            }

            &--link{
                color: #262626;
                font-size: 20px;
                font-weight: 300;
                text-decoration: none;
            }
        }
    }

    &__header{

        &__title{
            text-align: center;
            color: #262626;
            font-size: 90px;
            font-weight: 700;
            padding-bottom: 30px;

            @media screen and (max-width:767px){
                font-size: 48px; 
            }
        }

        &__subtitle{
            text-align: center;
            color: #262626;
            font-size: 17px;
            font-weight: 400;
            line-height: 25px;
            padding-bottom: 40px;
            letter-spacing: -.1;
        }
    }
}

.form__items{
    display: block;
    padding-right: 70px;

    @media screen and (max-width:1199px){
        padding-right: 30px; 
    }

    @media screen and (max-width:1023px){
        padding-right: 0px; 
    }

    &--input{
        background-color: #00c4c4;
        opacity: 0.5;
        border: none;
        margin-bottom: 16px;
        padding: 16px 0 16px 20px;
        color: #ffff;
        font-size: 15px;
        
        &::-webkit-input-placeholder{
            color: #ffff;
            font-size: 15px;
            font-weight: 300;
            font-family: "Raleway";
        }

        &:focus{
            opacity: 1;
            border-left: 5px solid #355b82;
            padding-left: 10px;
        }
    }
}

.form__items__btn{
    font-family: 'Raleway';
    padding: 10px 0px;
    background-color: #00c4c4;
    text-transform: uppercase;
    color: #fff;
    border:1px solid #00c4c4;
    opacity: 0.5;

        &:hover{
            background-color: #ffff;
            color: #00c4c4;
            cursor: pointer;
            opacity: 1;
        }
}

#message{
    resize:none
}