.gallery{
    background-color: #ffe92f;
    width: 100%;
    padding: 90px 0;

    @media screen and(max-width:1199px){
        padding: 60px 0; 
    }

    &__header{
        text-align: center;
        font-size: 90px;
        color: $colorb;
        font-weight: 700;

        @media screen and(max-width:767px){
            font-size: 48px;
        }

        &__title{
            padding-bottom: 30px;
        }

        &__subtitle{
            color: $colorb;
            font-size: 17px;
            font-weight: 300;
            line-height: 27px;
            padding-bottom: 45px;
            width: 90%;
            margin: 0 auto;
        }
    }

    &__box{
        padding-bottom: 27px;
    }

    &__img{
        width: 100%;
        height: auto;
        margin-bottom: 22px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

        &:hover{
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
        }
    }

    &__btn{
        padding-top: 30px;
        padding-bottom: 28px;

        @media screen and (max-width:1023px){
            padding-bottom: 0px; 
        }

        &--item{
        @extend %btn;
        background-color: #5585a2;
        color: #ffff;

        &:hover{
            background-color: #ffff;
            color: #5585a2;
        }
    }    
}
}