.subscribe{
    background-color: #ffff;
    background-image: url(../../../dist/img/subscribeX1.png);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center right 5%;
    padding: 142px 0px;

    @media screen and (max-width:1199px){
        padding: 60px 0px;
    }

    @media screen and (max-width:991px){
        padding: 60px 0px;
        background-position: right;
        background-size: 400px;
    }

    @media screen and (max-width:767px){
        background-position: bottom;
    }


    &__title{
        color: $colorb;
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    &__subtitle{
        color: $colorb;
        font-size: 17px;
        font-weight: 400;
        padding-bottom: 28px;
        line-height: 27px;
        letter-spacing: -0.2;
    }
}

.subscribe__form{

    padding-bottom: 23px;
    &__input{
        margin-right: 28px;
        padding: 19px 363px 16px 10px;
        border: 1px solid #262626;
        
        @media screen and (max-width:767px){
            padding: 19px 280px 16px 10px;
            margin-right: 0px;
        }

        @media screen and (max-width:575px){
            padding: 19px 180px 16px 10px;
        }

        @media screen and (max-width:424px){
            padding: 19px 90px 16px 10px;
        }

        &::-webkit-input-placeholder{
            font-family: "Raleway";
            letter-spacing: -0.7;
            padding-left: 4px;
            opacity: 0.5;
        }
    }

   &__btn{
    padding: 15px 31px;
    border: none;
    color: #ffff;
    text-transform: uppercase;
    background-color: #96b92c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Raleway';

    @media screen and (max-width:991px){
        margin-top: 20px;
    }

        &:hover{
            color: #96b92c;
            background-color: #ffff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
            cursor: pointer;
        }
   }
}