%btn{
    display: block;
    text-align: center;
    padding: 18px 42px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;

    &:hover{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
        cursor: pointer;
    }
}