.nav{
    position: relative;
    width: 100%;

    &__logo{
        display: block;
        padding-top: 46px;
        z-index: 6;

        &__img{
            width: 128px;
            height: 55px;
            
            &:hover{
                fill: #ff6033;
                cursor: pointer;
            }
        }
    }
    &__navbar{
        display: block;
        transition: .8s;
            
        @media screen and(max-width:767px){
            position: fixed;
            top:0;
            left: 0;
            width: 100%;
            z-index: 1;
            transition: ease 0.5s;
            overflow: hidden;
            background-color: rgba(255, 0, 0, 0.5);
            flex-direction: column;
        }
    }
}

.nav

.navbar__item{
    display: block;
    margin: 0;
    padding-top: 65px;
    padding-left: 16px;
    text-align: center;

    @media screen and(max-width:767px){
        display: block;
        border-top: 1px solid #fff;
        padding: 10px 0;
        margin: 0;
    }
}

.navbar__link{
    width: 100%;
    color: #262626;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-top: 3px solid transparent;
    padding-top: 4px;

    &:hover{
        border-top-color: #ff6033;
    }

    @media screen and(max-width:767px){
        border-top: transparent;
        cursor: pointer;
    }
}

.fa-hamburger{
    font-size: 48px;
}

.fa-times{
    font-size: 48px;
}

.navbar{
    display: none;
   
    &:checked + &__label > .fa-hamburger{
        display: none;
        position: fixed;
        z-index: 5;
    }

    & + &__label > .fa-hamburger{
        display: block;
    }

    &:checked + &__label > .fa-times{
        display: block;
        position: fixed;
        z-index: 5;
    }

    & + &__label > .fa-times{
        display: none;
    }

    &:checked + &__label + .nav__navbar{
        height: 365px;
        padding-top: 100px;
    }

    & + &__label + .nav__navbar{
        height: 0px;
    }

    &__label{
        display: none;

        @media screen and(max-width:767px){
            display: block;
            position: absolute;
            top: 50px;
            left: 200px;
        }

        @media screen and(max-width:575px){
            top: 50px;
            left: 150px;
        }

        @media screen and(max-width:424px){
            top: 50px;
            left: 90px;
        }
    }
}