.footer{
    background-color: #262626;
    width: 100%;
    padding: 35px 0px;

    @media screen and (max-width:991px){
        padding: 20px 0px;
    }


    &__section--company{
        color: #9c9c9c;
        font-size: 16px;
        font-weight: 400;
        
        @media screen and (max-width:991px){
            text-align: center;
            padding-top: 10px;
        }
    }

    &__section--made{
        color: #9c9c9c;
        font-size: 15px;
        font-weight: 400;
        text-align: right;
        letter-spacing: -.3;

        @media screen and (max-width:991px){
            text-align: center;
            padding-top: 10px;
        }
    }

        &__text{
            color: #9c9c9c;
            font-size: 15px;
            font-weight: 300;

           
        }
    &--link{
        color: #ff2b58;
        font-weight: 700;
        font-size: 15px;
        text-decoration: none;
        }
        
    &__logo{
        &__img{
            
            width: 60px;
            height: 30px;
            fill: #9c9c9c;
    
            &:hover{
            fill:#ff6033;
            cursor: pointer;
            }
        
        }
        }
    }

    


