mixin footer
    .footer
        .container
            .row
                .col-lg-4.order-lg-1.col-12.order-2.footer__section--company
                    p.company__text &#9400; 2015 Company. All right reserved
                .col-lg-4.order-lg-1.col-12.order-1.footer__logo.d-flex.justify-content-center
                    svg.footer__logo__img
                        use(xlink:href='#icon-logo')
                .col-lg-4.order-lg-1.col-12.order-3.footer__section--made
                    p.footer__autop__text Made with 
                        a.footer--link(href='javascript:void(0)') love 
                        | by Auskteez