mixin services
    .services#services
        .container
            .row.d-flex.justify-content-between
                .col-xl-6.order-xl-1.d-xl-block.d-lg-none.col-12.order-2.d-flex.justify-content-end
                    .services__blocks
                        .blocks__item.d-flex
                            p.blocks__item__text.d-flex.align-items-center.justify-content-center.flex-grow-1 Online Shopping
                            .blocks__item__icon.d-flex.align-items-center.justify-content-center
                                svg.icon__item
                                    use(xlink:href="#icon-truck")
                        .blocks__item.d-flex
                            p.blocks__item__text.d-flex.align-items-center.justify-content-center.flex-grow-1 Quality Product
                            .blocks__item__icon.d-flex.align-items-center.justify-content-center
                                svg.icon__item
                                    use(xlink:href="#icon-hand")
                        .blocks__item.d-flex
                            p.blocks__item__text.d-flex.align-items-center.justify-content-center.flex-grow-1 Domestic & International
                                br 
                                |Delivery
                            .blocks__item__icon.d-flex.align-items-center.justify-content-center
                                svg.icon__item
                                    use(xlink:href="#icon-earth")
                        .blocks__item.d-flex
                            p.blocks__item__text.d-flex.align-items-center.justify-content-center.flex-grow-1 Well Organized
                            .blocks__item__icon.d-flex.align-items-center.justify-content-center
                                svg.icon__item
                                    use(xlink:href="#icon-carrot")
                .d-xl-none.col-lg-6.order-lg-2.d-lg-block.d-none
                    .services__blocks
                        .blocks__item.d-flex
                            p.blocks__item__text.d-flex.align-items-center.justify-content-center.flex-grow-1 Online Shopping
                            .blocks__item__icon.d-flex.align-items-center.justify-content-center
                                svg.icon__item
                                    use(xlink:href="#icon-truck")
                        .blocks__item.d-flex
                            p.blocks__item__text.d-flex.align-items-center.justify-content-center.flex-grow-1 Quality Product
                            .blocks__item__icon.d-flex.align-items-center.justify-content-center
                                svg.icon__item
                                    use(xlink:href="#icon-hand")
                .d-xl-none.col-lg-6.order-lg-2.d-lg-block.d-none
                        .blocks__item.block__item--pad.d-flex
                            p.blocks__item__text.d-flex.align-items-center.justify-content-center.flex-grow-1 Domestic & International
                                br 
                                |Delivery
                            .blocks__item__icon.d-flex.align-items-center.justify-content-center
                                svg.icon__item
                                    use(xlink:href="#icon-earth")
                        .blocks__item.d-flex
                            p.blocks__item__text.d-flex.align-items-center.justify-content-center.flex-grow-1 Well Organized
                            .blocks__item__icon.d-flex.align-items-center.justify-content-center
                                svg.icon__item
                                    use(xlink:href="#icon-carrot")

            
                .col-xl-6.order-xl-2.col-12.order-1.d-flex.align-items-center.justify-content-center
                    .services__text
                        p.title.text__main Our Services