mixin header
    .header#header
        .container
            .row
                +nav
            .row
                .col-xl-4.col-md-8.col-12
                    .header__content
                        h1.header__content__title Fresh Life
                        p.header__content__text Sed do eiusmod tempor incididunt ut labore et  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                        a.header__content__button--link(href='javascript:void(0)') GET FREE NOW
            .row
                .col-12
                    .header__scroll.d-flex.justify-content-center
                        a.scroll__link(href='javascript:void(0)')
                            img.scroll__link__img(src="../dist/img/scroll.png", alt="scroll")        